// ==========================================================================
// # Desktop Menu
// ==========================================================================


.desktopMenu {

    &__nav {

    }

    &__ul {
        display: flex;
    }

    &__li {
        margin-right: 20px;
        
        &:last-child {
            margin-right: 0;
        }
    }

    &__has-children {

    }

    &__subMenu {
        display: none;
    }

}