// ==========================================================================
// # Global
// ==========================================================================

* {
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    box-sizing: border-box;
    
}

body {
    font-family: Montserrat;
    line-height: 1.5;
    // background-color: theme('colors.neutral.300');
}